[Unit]
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/assistant
ExecStart=/usr/bin/podman compose up
ExecStop=/usr/bin/podman compose down
Restart=always

[Install]
WantedBy=multi-user.target
